body{

				background-image: url("Ride.jpeg");				
        background-position: center;

				/*background-size: 1366px;*/

				background-attachment: fixed;

			}
			h1{

				color: blue;

				border: 10px solid tomato;

				font-family: verdana;

				font-size: 60px;

				padding: 30px;

				text-align: center;

				margin: 100px;

			}

			h2{

				color: green;

				font-family: courier;

				font-size: 40px;

				text-align: center;

			}

			h3{

				color: tomato;

				font-family: courier;

				font-size: 30px;

				text-align: center;

			}

			h4{

				color: tomato;

				font-family: courier;

				font-size: 30px;

			}

			p{

				font-size: 20px;

				color: aqua;

				font-family: georgia;

				text-align: center;

			}

			#h201{
				color: tomato;
				text-align: center;
			}
			#img01{
				height: 300px;
				width:300px;
				border: 10px solid tomato;
				border-radius: 50%;
				margin-left: 500px;
			}
			#img02{
				height: 50px;
				width: 50px;
				float: left;
			}
			#p01{
				text-align: center;
				font-family: georgia;
				color: aqua;
				font-size: 25px;
				padding-right: 20%;
				padding-left:20%;
			}
			table{
				border: none;
				width: 100%;
				text-align: center;
			}
			.p02{
				 padding-right:20%;
				 padding-left:20%;
			}
